.custom-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000a8;
  left: 0;
  top: 0;
  display: none;
}

.custom-modal.open {
  display: block;
}

.custom-modal .main {
  background: #fff;
  padding: 15px;
  width: 500px;
  margin: 30px auto;
}

.main .header {
  display: flex;
  justify-content: flex-end;
}

.header i {
  font-size: 18px;
  cursor: pointer;
}
