.App {
  text-align: center;
}

.header {
  font-size: 30px;
}

.header .sub-header {
  width: 24px;
  height: 24px;
  position: relative;
  margin: auto;
}

.header .red-dot {
  width: 5px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: 2px;
  right: 0px;
  border-radius: 50%;
}
