.custom-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #575757;
}

.custom-modal.showModal {
  display: block;
}

.custom-modal .main {
  width: 500px;
  background-color: #ffffff;
  margin: 10px auto;
  padding: 30px;
}

.main .header i {
  float: right;
  cursor: pointer;
}

.main .content {
  line-height: 25px;
  font-size: 20px;
}

.main .content p {
  margin: 0;
  font-size: 14px;
}

.main .footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.footer .btn {
  margin: 0 6px;
  border-radius: 8px;
  outline: none;
  padding: 6px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.footer .btn-success:hover {
  background-color: rgb(31, 201, 31);
}

.footer .btn-alert:hover {
  background-color: rgb(250, 26, 26);
}

.footer .btn-success {
  background-color: rgb(16, 156, 16);
}

.footer .btn-alert {
  background-color: rgb(211, 58, 58);
}
